link {
  display: none;
}

.container {
  font-family: Arial, Helvetica, sans-serif;
}

.flex-grid {
  display: flex;
}

.flex-grid .image {
  width: 20%;
}

.flex-grid .title {
  width: 80%;
}

.flex-grid-work {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.break {
  color: #7d97ad;
  width: 100%;
  height: 4px;
  background: #7d97ad;
}

.title {
  text-align: right;
  color: #2d3c49;
  font-size: 30px;
  line-height: 3px;
  text-transform: uppercase;
}

.main {
  text-align: justify;
  color: #02b3e4;
}

.title-work {
  color: #7d97ad;
  font-size: 30px;
}

.work-image {
  width: 380px;
  height: 380px;
}

/* Medium screens */
@media only screen and (max-width: 600px) {
  .title {
    font-size: 15px;
  }

  .main-logo {
    width: 80px;
    height: 80px;
  }

  .work-image {
    width: 90px;
    height: 90px;
  }
}

/* Medium screens */
@media only screen and (min-width: 600px) and (max-width: 770px) {
  .title {
    font-size: 25px;
  }

  .main-logo {
    width: 100px;
    height: 100px;
  }

  .work-image {
    width: 180px;
    height: 180px;
  }
}
