link {
  display: none;
}

.container {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content:space-between;
}

header {
  width: 100%;
  order: 0;
}

.break {
  width: 100%;
  order: 1;
}

article {
  width: 100%;
  order: 2;
}

footer {
  width: 100%;
  order: 3;
}

.logo {
  float: left;
}

.break {
  color: #7d97ad;
  width: 100%;
  height: 4px;
  background: #7d97ad;
}

.title {
  float: right;
  text-align: right;
  color: #2d3c49;
  font-size: 30px;
  line-height: 3px;
  text-transform: uppercase;
}

.main {
  text-align: justify;
  color: #02b3e4;
}

.title-work {
  color: #7d97ad;
  font-size: 30px;
}

.works {
  color: #2d3c49;
}

.work-image {
  width: 380px;
  height: 380px;
}

/* Medium screens */
@media only screen and (max-width: 600px) {
  .title {
    font-size: 15px;
  }

  .main-logo {
    width: 80px;
    height: 80px;
  }

  .work-image {
    width: 90px;
    height: 90px;
  }
}

/* Medium screens */
@media only screen and (min-width: 600px) and (max-width: 770px) {
  .title {
    font-size: 25px;
  }

  .main-logo {
    width: 100px;
    height: 100px;
  }

  .work-image {
    width: 180px;
    height: 180px;
  }
}
